@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #ececec;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #eaf6f6;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  min-width: 20rem;
  padding: 3rem 2rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-size: 2.5rem;
  color: #385170;
}

p.counter-value {
  margin: 2rem 0;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

button {
  background-color: #04aa6d;
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #f76b8a;
}

.btn:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
