@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #3a4d64;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #ececec;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #3a4d64;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

article {
  max-width: 25rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article .profile-avatar {
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}

article .profile-name {
  margin-bottom: 1rem;
}

article .profile-title {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

article .profile-bio {
  margin: 2rem 0;
  line-height: 1.5;
}

article .profile-social {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
